<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hz-navbar">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="https://demo.hubzilla.org">
					<i class="fa fa-desktop"></i>  <span class="light">Demo</span>
				</a>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="hz-navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">

				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#top">Hubzilla</a>
					</li>
					<li>
						<a class="page-scroll" href="#learn">Learn</a>
					</li>
					<li>
						<a class="page-scroll" href="#discover">Discover</a>
					</li>
					<!--
					 <li>
						 <a class="page-scroll" href="#faq">FAQ</a>
					 </li>
					-->
					<li>
						<a class="page-scroll" href="#download">Download</a>
					</li>
					<li>
						<a class="page-scroll" href="#develop">Develop</a>
					</li>
					<li>
						<a class="page-scroll" href="https://project.hubzilla.org/channel/announcements/">News</a>
					</li>

						<li id="hz-lang"  class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#hz-lang" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-language" style="font-size: 1.4em;"></i><span class="caret"></span></a>
							<ul class="dropdown-menu lang-selector">
								<li><a class="lang-choice" href="#">en</a></li>
								<li><a class="lang-choice" href="#">ru</a></li>
								<li><a class="lang-choice" href="#">de</a></li>
							</ul>
						</li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div class="intro-body intro" >
		<div class="container">
			<div class="row">
				<div>
					<img class="img-responsive hubzillabanner" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/newhubzillabanner.png"/>
				</div></div>
<div class="row">
				<div>
<p class="" style="font-size: 2em; font-weight: bold">Connecting free and independent communities across the web</p>
				</div></div>
			<div class="row">
				<div>
					<p class="lead">Hubzilla is a powerful platform for creating interconnected websites
						featuring a decentralized identity, communications, and permissions
						framework built using common webserver technology.</p>
				</div>
			</div>
<div class="row">
	<div>
		<p class="lead" style="font-size:1.2em; color:white;">Ready to dive in? Register an account on</p>
		<p class="" style="font-size:1.2em; color:white; margin-bottom: 0;"><i> <a href="https://start.hubzilla.org" style="font-size:1.2em; color:white; font-weight:bold;">HUBZILLA ⟩⟩ Start</i></a></p>
		</div>
	</div>
			<div class="row"  style="padding-top: 50px;">
				<div >
					<div class="col-lg-1 col-md-1 col-sm-3 col-lg-offset-4 col-md-offset-3 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://demo.hubzilla.org">Try a demo</a></div>
					<div class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-1 col-md-offset-2 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://project.hubzilla.org/help/admin/administrator_guide">Run your own hub</a></div>
					<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 50px;">
						<a href="#learn" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
						<div id="news-sticker">
							<ul>
								<li>
									<a href="https://project.hubzilla.org/channel/announcements/">
										<h2>Hubzilla<br><br><font size="+3">3.4</font><br><br>is available!</h2>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section id="learn" class="container content-section text-center">
		<div class="row learn-section">

			<div class="col-lg-6 col-md-6">
				<img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/decentralisation.png" class="img-responsive">
				<div style="position:absolute ; top: 20%; right: 5%; color:#555555; width:50%;">
				</div>
				<div style="position:absolute ; bottom: 3%; left: 5%; color:#007A9A; width:55%;">
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<h2>Decentralized network of hubs: the grid</h2>

				<p>    Hubs are the servers that communicate with one another to propagate information across the network, or "grid". There is no central hub or single point of failure. Hubs can be connected to as many or as few other hubs as desired. <a href="/help/about/about">Learn more...</a>
				</p>
				<h2>Channels and Connections</h2>

				<p>    A channel is the fundamental (id)entity on the grid. A channel can represent many different things: a person, a blog, or a forum to name a few. Channels can make connections with other channels to share information with highly detailed permissions. Channels are addressed using a familiar channel@hub.domain format. <a href="/help/member/member_guide#Channels">Learn more...</a>
				</p>
				<h2>Nomadic Identity and Cloning</h2>

				<p>    Nomadic identity means true ownership of online identity. With Hubzilla, you don't have an account on a server, you own an identity that you can take with you across the grid. You can clone a channel across multiple hubs for resilience against network failures or censorship, or you can completely move a channel from one hub to another, taking your data and connections with you. <a href="/help/about/about#Glossary">Learn more...</a>
				</p>
			</div>

		</div>
		<div class="row learn-section">
			<div class="col-lg-6 col-md-6">

				<h2>Access control across the web</h2>

				<p>
					Typical websites are isolated and have no idea who is accessing their content, and controlled access to data is limited to permissions settings between individual accounts on a site. If you want to share information in a controlled way off-site, you're out of luck. Hubzilla enforces fine-grained permissions for information shared across the grid, and websites on hubs are identity-aware. Single sign-on allows seamless authentication across independent websites in a way never before possible.
				</p>

				<h2>Got Zot?</h2>

				<p>Zot is a JSON-based web framework for implementing secure decentralised communications and services.
					It differs from many other communication protocols by building  communications on top of a
					decentralised identity and authentication framework. The authentication component is similar to
					OpenID conceptually but is insulated from DNS-based identities. Where possible remote authentication
					is silent and invisible. This provides a mechanism for internet scale distributed access control
					which is unobtrusive.</p>
				<ul>
					<li>completely decentralised communications</li>
					<li>insulation from DNS based identity</li>
					<li>node mobility</li>
					<li>invisible or reduced "interaction" remote authentication</li>
					<li>performance</li>
				</ul>
				<p><a href="/help/developer/zot_protocol">Learn more...</a></p>
			</div>

			<div class="col-lg-6 col-md-6">
				<img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/access_control.png" class="img-responsive">
				<div style="position:absolute ; bottom: 0%; left: 25%; color:#007A9A; width:70%; background-color: #FFF;">
				</div>
			</div>
		</div>
	</section>

	<section id="discover" class="content-section text-center">
		<div class="row discover-section">
			<div class="container">
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/plugins.png" style="width: 200px; height: 200px;">
					<h3>Plugins</h3>
					<p class="text-justify">Hubzilla is extensible. Build entire web apps as plugins and leverage the power of the grid to handle access control and data distribution. <a href="https://framagit.org/hubzilla/addons/">Learn more...</a></p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/toolkit.png" style="width: 200px; height: 200px;">
					<h3>Web Building Toolkit</h3>
					<p class="text-justify">Use the <a href="/help/member/member_guide#Comanche_Page_Description_Language">Comanche webpage description language</a> and the Webpages tool to build modular, identity-aware, and <i>shareable</i> web page elements. <a href="/help/member/member_guide#Web_Pages">Learn more...</a></p>

				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/social.png" style="width: 200px; height: 200px;">
					<h3>Social Networking</h3>
					<p class="text-justify">Social networking is in Hubzilla's DNA, baked into its core. Use a channel to represent yourself and make connections (i.e., "friends") to share with others. <a href="/help/admin/administrator_guide#Federation_Addons">Support for federation with Diaspora, Friendica and others via plugins</a>. <a href="/help/member/member_guide#Connecting_To_Channels">Learn more...</a></p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/filestorage.png" style="width: 200px; height: 200px;">
					<h3>Cloud File Storage</h3>
					<p class="text-justify">Connect your channel's file storage to your local filesystem using standard WebDAV. Share or publish your files with the ubiquitous fine-grained access control. <a href="/help/member/member_guide#Personal_Cloud_Storage">Learn more...</a></p>
				</div>
			</div>
		</div>
		<div class="row discover-section">
			<div class="container">
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/themes.png" style="width: 200px; height: 200px;">
					<h3>Themes</h3>
					<p class="text-justify">The web interface is highly customizable, with <a href="/help/DerivedTheme1">native support for theme development</a>. Brand your hubs for <i>your</i> community or business.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/events.png" style="width: 200px; height: 200px;">
					<h3>Events</h3>
					<p class="text-justify">Coordinate and share calendar events with anyone using the native calendar functionality. Import/export between popular calendar formats.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/api.png" style="width: 200px; height: 200px;">
					<h3>API</h3>
					<p class="text-justify">A growing list of <a href="/help/developer/api_zot">API functions</a> enable independent apps to utilize hubs, extending the range of interconnected services on the grid to the limits of your imagination.</p>
				</div>
				<div class="col-lg-3 col-sm-6">
					<img alt="img" class="img-circle center-block drop-shadow hover-zoom" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/opensource.png" style="width: 200px; height: 200px;">
					<h3>Freedom</h3>
					<p class="text-justify"><a href="https://framagit.org/hubzilla/core">Hubzilla is open source</a>! You have the freedom to use and modify the software to suit your needs. When it comes to privacy and data security, everyone should be able to review and improve the code.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="download" class="content-section text-center">
		<div class="row download-section">
			<div class="container">
				<div class="col-lg-8 col-lg-offset-2">
					<h2>Download Hubzilla</h2>
					<p>Hubzilla is free and open source software protecting <i>your</i> rights with an MIT license.</p>
					<a href="https://framagit.org/hubzilla/core" class="btn btn-default btn-lg">Get the code</a>
				</div>
			</div>
		</div>
	</section>

	<section id="develop" class="content-section text-center">
		<div class="row develop-section">
			<div class="container">
				<div class="col-lg-2 col-lg-offset-1">
					<img alt="img" class="img-circle center-block drop-shadow" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/zot.png" style="width: 200px; height: 200px;">
				</div>

				<div class="col-lg-8 col-lg-offset-1">
					<h2>Developers</h2>
					<p>There is a lot of work to do, and that work needs <a href="/help/developer/developer_guide">developers</a>. Be a part of something amazing. There are many ways you can contribute.</p>
					<ul class="list-inline banner-social-buttons">
						<li>
							<a href="https://project.hubzilla.org/channel/hubzilla" class="btn btn-default btn-lg"><img src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/hubzilla_logo_white_bkgd.png" width="25">&nbsp<span class="network-name"> On the grid</span></a>
						</li>
						<li>
							<a href="https://riot.im/app/#/room/#hubzilla:matrix.org" class="btn btn-default btn-lg"><span class="network-name"><span class="">[m]</span>hubzilla</span></a>
						</li>
						<li>
							<a href="https://framagit.org/hubzilla/core" class="btn btn-default btn-lg"><i class="fa fa-github"></i>&nbsp&nbsp<span class="network-name">Source Code</span></a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	<section id="donate" class="donate-section text-center"><div class="row donate-section">
			<div class="container">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h2>Donate to the Hubzilla Project</h2>
					<ul class="list-inline banner-social-buttons"><li>
							<a href="https://salt.bountysource.com/teams/hubzilla" class="btn btn-default btn-lg" title="BountySource"><img height="20" src="https://raw.githubusercontent.com/anaqreon/hubzilla-website/master/assets/img/bountysource_icon.png" alt="bountysource_icon.png" /> <span class="network-name">BountySource</span></a>
						</li>
					</ul></div>
			</div>
		</div>
	</section>